<div class="float-right">
	<%= link_to 'new project', new_project_path, class:"btn btn-primary", remote: true%>
</div>
<h2> Projects </h2>
<%= render partial: 'projects_list',locals: { projects: @projects}%>
<div id="project-div"></div>
